/Manifest.toml
/docs/build/
*.png
*.csv
*.jld2
*.npy
*.npz
*.pt
*.pkl
*.txt
*.zilxap09
*.zilxap10
*.bson
*.json
*.Lukas-Desktop-1
*.Lukas-Framework
*.hdf5
*.LUKAS3
*.svg
*.html

*.png
*.csv
*.jld2
*.npy
*.npz
*.pt
*.pkl
*.txt
*.zilxap09
*.zilxap10
*.bson
*.json
*.Lukas-Desktop-1
*.Lukas-Framework
*.hdf5
*.LUKAS3
*.svg
*.html